<section id="testimonial">
</br>
</br>
<div id="mycarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
        <%=image_tag("thin hallway.png", :class => "img-responsive", :alt => "Responsive image")%>
           <div class="carousel-caption">
             <h2>How is icurio used?</h2>
               <p style="font-size: 120%; ">The Mooresville Graded School District, located in the town of Mooresville, North Carolina, is
               known nationally for its digital conversion, using technology to help transform instruction.
               Mooresville Intermediate School is on the leading edge of this transformation with the help
               of icurio 2.0. Learn more about how teachers at MIS use icurio 2.0 to collaboratively build
               lessons, and create engaging student-centered instruction. </p>
          </div>
        </div>
    </div>
</div>
</section>
</br>
</br>
  <div class="border-ic2">
    <div class="well well-sm">
      <div class="row">
        <% @ic2testimonialvideos.each do |video| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= link_to image_tag(video.image.url(:medium)), video %>
            <div class="caption">
              <strong><%= link_to video.title, video %></strong><br/>
              <%= truncate(video.description, :length => 125, :separator => " " )%>
              <% if video.duration.present? %>
                <div class="row">
                  <div class="pull-right">
                    <p class="text-muted"><%=Time.at(video.duration).utc.strftime("%M:%S")%>
                    </p>
                  </div>
                </div>
              <% end %>

              <% if user_signed_in? %>
                <div class="actions">

                  <%= link_to edit_video_path(video) do %>
                    <span class="glyphicon glyphicon-edit"></span>
                    Edit
                  <% end %>

                  <%= link_to video, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                  <% end %>

                </div>
              <% end %>
            </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
