<div id="videos" class ="transitions-enabled">
  <% @videos.each do |video| %>
    <div class="box" panel panel-default>
      <%= image_tag video.image.url(:medium) %>
      <div class="panel-body">
        <%= video.title %>
        <%= video.description %>
        <%= video.user.email if video.user%>
        <%= link_to 'Show', video %>
        <% if video.user == current_user %>
          <%= link_to 'Edit', edit_video_path(video) %>
          <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
  </div>
<% end %>
</div>
