<%= image_tag @video.image.url (:medium)%>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<% if @video.user == current_user %>
  <%= link_to 'Edit', edit_video_path(@video) %> |
<% end %>
  <%= link_to 'Back', videos_path %>
