<div class="container faqs-container">
  <div style="margin-bottom: 70px;">
    <h2>Video Dashboard</h2>
        <br>  <br>   <br>
        <div>
      <!-- Table -->
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="dashboard-table-rows">Title</th>
            <th class="dashboard-table-rows">URL</th>
            <th class="dashboard-table-rows">Product</th>
            <th class="dashboard-table-rows">Order</th>
            <th class="edit-collumn"></th>
          </tr>
        </thead>

          <tbody>
            <% @videos.each do |video| %>
                <tr>
                  <td><%= raw video.title %></td>
                  <td><%= link_to video, video, :target => "_blank" %></td>
                  <td><%= video.product %></td>
                  <td><%= video.order %></td>
                  <td class="vert-align"><%= link_to edit_video_path(video), class:"btn btn-primary", :method => :get do %>
                    <span class="fa fa-edit"></span> Edit
                  <% end %></td>
                </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
