<%= form_for @custom_page, html: {multipart: true} do |f| %>
  <% if @custom_page.errors.any? %>
    <div id="error_explanation">
      <h2>Sorry. You'll need to fix this <%= pluralize(@custom_page.errors.count, "thing") %> before you can save this page:</h2>

      <ul>
      <% @custom_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :recipient %><br>
    <%= f.text_field :recipient, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :greeting %><br>
    <%= f.text_area :greeting, class: "form-control editable form-long".html_safe %>
  </div>

  <div class="form-group">
    <%= f.label :message %><br>
    <%= f.text_area :message, class: "form-control editable form-long".html_safe %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-md-3 center">
      <h3>netTrekker: Training</h3>
    </div>
    <div class="col-md-3 center">
      <h3>icurio 1.0: Training</h3>
    </div>
    <div class="col-md-3 center">
      <h3>icurio 2.0: Training</h3>
    </div>
    <div class="col-md-3 center">
      <h3>icurio 2.0: Mooresville</h3>
    </div>
  </div>

<div class="row">
  <div class="col-md-3 reduce-tablepad">
      <table class="table table-hover table-vcenter">
        <thead class="nT">
          <tr>
            <th></th>
            <th>Video Preview</th>
            <th>Title</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      <tbody>
      <% @ntintrovideos.each do |video| %>
            <tr>
              <td><%= check_box_tag :video_ids, video.id, @custom_page.videos.include?(video), :name => 'custom_page[video_ids][]' -%></td>
              <td style="width:45%"><%= link_to image_tag(video.image.url (:thumb)), video,:target => "_blank" %></td>
              <td><%= label_tag :video_titles, video.title -%></td>
              <td></td>
            </tr>
        <% end -%>
      </tbody>
    </table>
  </div>

  <div class="col-md-3 reduce-tablepad">
      <table class="table table-hover table-vcenter">
        <thead class="ic1">
          <tr>
            <th></th>
            <th>Video Preview</th>
            <th>Title</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      <tbody>
      <% @ic1introvideos.each do |video| %>
            <tr>
              <td><%= check_box_tag :video_ids, video.id, @custom_page.videos.include?(video), :name => 'custom_page[video_ids][]'-%></td>
              <td style="width:45%"><%= link_to image_tag(video.image.url (:thumb)), video,:target => "_blank" %></td>
              <td><%= label_tag :video_titles, video.title -%></td>
              <td></td>
            </tr>
        <% end -%>
      </tbody>
    </table>
  </div>

    <div class="col-md-3 reduce-tablepad">
        <table class="table table-hover table-vcenter">
          <thead class="ic2">
            <tr>
              <th></th>
              <th>Video Preview</th>
              <th>Title</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        <tbody>
        <% @ic2introvideos.each do |video| %>
              <tr>
                <td><%= check_box_tag :video_ids, video.id, @custom_page.videos.include?(video), :name => 'custom_page[video_ids][]'-%></td>
                <td style="width:45%"><%= link_to image_tag(video.image.url (:thumb)), video,:target => "_blank" %></td>
                <td><%= label_tag :video_titles, video.title -%></td>
                <td></td>
              </tr>
          <% end -%>
        </tbody>
      </table>
    </div>

    <div class="col-md-3 reduce-tablepad">
      <table class="table table-hover table-vcenter">
        <thead class="ic2">
          <tr>
            <th></th>
            <th>Video Preview</th>
            <th>Title</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      <tbody>
        <% @ic2testimonialvideos.each do |video| %>
            <tr>
              <td><%= check_box_tag :video_ids, video.id, @custom_page.videos.include?(video), :name => 'custom_page[video_ids][]' -%></td>
              <td style="width:45%"><%= link_to image_tag(video.image.url (:thumb)), video, :target => "_blank"%></td>
              <td><%= label_tag :video_titles, video.title -%></td>
              <td></td>
            </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>

</br>
</br>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Cancel', custom_pages_path, class: "btn btn-danger"%>
    </div>
<% end %>


<!--Script for checkbox activating order text field-->
<script>
$('.show').click(function () {
    $(this).next().toggleClass('hidden');
})
</script>

<script>
var editor = new MediumEditor('.editable', {
    toolbar: {
        buttons: [
            'bold',
            'italic',
            'anchor',
            'unorderedlist',
            'orderedlist',
            'justifyLeft',
            'justifyCenter',
            'justifyRight',
            'removeFormat'
        ]
    },
    placeholder: false
});
</script>
