<p id="notice"><%= notice %></p>

<h2>My Custom Pages</h2>
<br>
<div>
  <!-- Table -->
  <table class="table table-vcenter">
    <thead>
      <tr>
        <th style=width=5%></th>
        <th>Recipient</th>
        <th>Greeting</th>
        <th>Message</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% unless @custom_pages.empty? %>
      <% @custom_pages.each do |custom_page| %>
        <%if custom_page.user == current_user%>
          <tr>
            <td style=width=5%></td>
            <td><%= link_to custom_page_path(custom_page) do %>
              <span class="glyphicon glyphicon-new-window"></span>
              <%=custom_page.recipient%>
            <% end %></td>
            <td><%= custom_page.greeting %></td>
            <td><%= truncate(custom_page.message, :length => 100, :separator => " " )%></td>
            <td><%= link_to edit_custom_page_path(custom_page), class:"btn btn-primary" do %>
              <span class="glyphicon glyphicon-edit"></span> Edit
            <% end %></td>
            <td>
              <%= link_to custom_page, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
              <span class="glyphicon glyphicon-trash"></span> Delete
            <% end %></td>
          </tr>
        <% end %>
        <% end %>
        <tr>
        <% else %>
        <td align="center" colspan="4"><h4>You don't have any custom pages yet.</br></br>This is where your custom pages will appears once they are created. Only you can edit or delete custom pages that you create.</h4><td>
        <% end %>
        </tr>
    </tbody>
  </table>
</div>

<br>
  <% if user_signed_in? %>
    <%= link_to 'New Custom page', new_custom_page_path, class: "btn btn-primary" %>
  <%end%>
</div>
